#examples {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
#examples > div {
    width: 500px;
    padding-top:20px;
}
[role='dialog']{
    width: 400px;
    height: fit-content;
    position: absolute;
    top: 200px;
    left: calc((100vw / 2) - 200px);
    border: 4px solid black;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}
[role='dialog'] th{
    text-align: left;
}