#examples {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
#examples > div {
    width: 500px;
    padding-top:20px;
}
#cc {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    min-width: 200px;
    max-width: 600px;
    background-color: beige;
    border-radius: 10px;
    min-height: 20px;
    padding: 5px;
}